.data {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	align-items: center;
	justify-content: center;
	display: none;
	background-image: url('../Img/poke_ball_icon_155925.png');
	background-position: center;
	background-repeat: no-repeat;

	&--active {
		display: flex;
	}

	&__content {
		min-width: 1200px;
		height: auto;
		background-color: rgba(0, 0, 0, 0.692);
		border-radius: 1rem;
		padding: 1rem;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: space-between;
	}

	&__card {
		width: 100%;
		display: flex;
		flex-direction: row;
		gap: 1rem;
	}

	&__container {
		width: 400px;
		height: 500px;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__img--pokemon {
		width: 100%;
		padding: 1rem;
	}

	&__pokemon {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	&__name {
		color: white;
		font-size: 4rem;
		&::first-letter {
			text-transform: uppercase;
		}
	}

	&__stats {
		color: white;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		// background-color: #4d3c77;
		padding: 1rem;
		border-radius: 1rem;
		background-color: #0000002a;
		// box-shadow: 0 0 20px #313866;
	}

	&__stats--title {
		font-size: 2rem;
	}

	&__content--stast {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 0.5rem;
		gap: 1rem;
	}

	&__container--stats {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.5rem;
	}

	&__container--span {
		font-size: 1.2rem;
	}

	&__container--number {
		font-size: 1.2rem;
	}

	&__progress {
		width: 200px;
		height: 22px;
	}

	&__close {
		font-size: 2rem;
		width: auto;
		height: 35px;
		text-align: center;
		border: none;
		outline: none;
		background-color: transparent;
		color: wheat;
		cursor: pointer;
	}
}
