.header {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;

	&__title {
		font-size: 3rem;
	}

	&__search {
		width: 80%;
		height: 70px;
		display: none;
		flex-direction: row;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		border-radius: 0.5rem;
		border: 3px solid #fbca02;
		box-shadow: 0 0 10px #306bb1;
		transition: border 1s, box-shadow 1s;

		&:focus-within {
			border: 3px solid #306bb1;
			box-shadow: 0 0 10px #fbca02;
		}
	}

	&--active {
		display: flex;
	}

	&__search--icon {
		font-size: 2rem;
		color: #0c356a;
	}

	&__input--search {
		width: 100%;
		padding: 1rem;
		outline: none;
		border: none;
		font-size: 1.2rem;
		caret-color: #bb2525;
		color: #0c356a;
		background-color: transparent;
	}

	&__search--btn {
		width: 100px;
		height: 50px;
		font-size: 1.2rem;
		cursor: pointer;
		background-color: #f0c102;
		border-radius: 1rem;
		border: none;
		color: #0c356a;
		border: 3px solid #1a6bc1;
		box-shadow: 1px 1px 1px #0c356a;

		&:active {
			box-shadow: 1px 1px 1px #0c356a7c;
		}
	}
}
